@font-face {
    font-family: 'TT Lakes Neue Compressed';
    src: url('TTLakesNeueComp-XBoldIt.eot');
    src: local('TT Lakes Neue Compressed ExtraBold Italic'), local('TTLakesNeueComp-XBoldIt'),
        url('TTLakesNeueComp-XBoldIt.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueComp-XBoldIt.woff2') format('woff2'),
        url('TTLakesNeueComp-XBoldIt.woff') format('woff'),
        url('TTLakesNeueComp-XBoldIt.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Neue Compressed';
    src: url('TTLakesNeueComp-XBold.eot');
    src: local('TT Lakes Neue Compressed ExtraBold'), local('TTLakesNeueComp-XBold'),
        url('TTLakesNeueComp-XBold.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueComp-XBold.woff2') format('woff2'),
        url('TTLakesNeueComp-XBold.woff') format('woff'),
        url('TTLakesNeueComp-XBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue Compressed';
    src: url('TTLakesNeueComp-BoldIt.eot');
    src: local('TT Lakes Neue Compressed Bold Italic'), local('TTLakesNeueComp-BoldIt'),
        url('TTLakesNeueComp-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueComp-BoldIt.woff2') format('woff2'),
        url('TTLakesNeueComp-BoldIt.woff') format('woff'),
        url('TTLakesNeueComp-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Neue Compressed';
    src: url('TTLakesNeueComp-Bold.eot');
    src: local('TT Lakes Neue Compressed Bold'), local('TTLakesNeueComp-Bold'),
        url('TTLakesNeueComp-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueComp-Bold.woff2') format('woff2'),
        url('TTLakesNeueComp-Bold.woff') format('woff'),
        url('TTLakesNeueComp-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue Compressed';
    src: url('TTLakesNeueComp-DBoldIt.eot');
    src: local('TT Lakes Neue Compressed DemiBold Italic'), local('TTLakesNeueComp-DBoldIt'),
        url('TTLakesNeueComp-DBoldIt.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueComp-DBoldIt.woff2') format('woff2'),
        url('TTLakesNeueComp-DBoldIt.woff') format('woff'),
        url('TTLakesNeueComp-DBoldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Neue Compressed';
    src: url('TTLakesNeueComp-Black.eot');
    src: local('TT Lakes Neue Compressed Black'), local('TTLakesNeueComp-Black'),
        url('TTLakesNeueComp-Black.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueComp-Black.woff2') format('woff2'),
        url('TTLakesNeueComp-Black.woff') format('woff'),
        url('TTLakesNeueComp-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue Compressed';
    src: url('TTLakesNeueComp-DBold.eot');
    src: local('TT Lakes Neue Compressed DemiBold'), local('TTLakesNeueComp-DBold'),
        url('TTLakesNeueComp-DBold.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueComp-DBold.woff2') format('woff2'),
        url('TTLakesNeueComp-DBold.woff') format('woff'),
        url('TTLakesNeueComp-DBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue Compressed';
    src: url('TTLakesNeueComp-BlackIt.eot');
    src: local('TT Lakes Neue Compressed Black Italic'), local('TTLakesNeueComp-BlackIt'),
        url('TTLakesNeueComp-BlackIt.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueComp-BlackIt.woff2') format('woff2'),
        url('TTLakesNeueComp-BlackIt.woff') format('woff'),
        url('TTLakesNeueComp-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Neue Compressed';
    src: url('TTLakesNeueComp-MediumIt.eot');
    src: local('TT Lakes Neue Compressed Medium Italic'), local('TTLakesNeueComp-MediumIt'),
        url('TTLakesNeueComp-MediumIt.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueComp-MediumIt.woff2') format('woff2'),
        url('TTLakesNeueComp-MediumIt.woff') format('woff'),
        url('TTLakesNeueComp-MediumIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Neue Compressed';
    src: url('TTLakesNeueComp-Regular.eot');
    src: local('TT Lakes Neue Compressed'), local('TTLakesNeueComp-Regular'),
        url('TTLakesNeueComp-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueComp-Regular.woff2') format('woff2'),
        url('TTLakesNeueComp-Regular.woff') format('woff'),
        url('TTLakesNeueComp-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue Compressed';
    src: url('TTLakesNeueComp-ThinIt.eot');
    src: local('TT Lakes Neue Compressed Thin Italic'), local('TTLakesNeueComp-ThinIt'),
        url('TTLakesNeueComp-ThinIt.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueComp-ThinIt.woff2') format('woff2'),
        url('TTLakesNeueComp-ThinIt.woff') format('woff'),
        url('TTLakesNeueComp-ThinIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Neue Compressed';
    src: url('TTLakesNeueComp-XLight.eot');
    src: local('TT Lakes Neue Compressed ExtraLight'), local('TTLakesNeueComp-XLight'),
        url('TTLakesNeueComp-XLight.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueComp-XLight.woff2') format('woff2'),
        url('TTLakesNeueComp-XLight.woff') format('woff'),
        url('TTLakesNeueComp-XLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue Compressed';
    src: url('TTLakesNeueComp-LightIt.eot');
    src: local('TT Lakes Neue Compressed Light Italic'), local('TTLakesNeueComp-LightIt'),
        url('TTLakesNeueComp-LightIt.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueComp-LightIt.woff2') format('woff2'),
        url('TTLakesNeueComp-LightIt.woff') format('woff'),
        url('TTLakesNeueComp-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Neue Compressed';
    src: url('TTLakesNeueComp-Medium.eot');
    src: local('TT Lakes Neue Compressed Medium'), local('TTLakesNeueComp-Medium'),
        url('TTLakesNeueComp-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueComp-Medium.woff2') format('woff2'),
        url('TTLakesNeueComp-Medium.woff') format('woff'),
        url('TTLakesNeueComp-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue Compressed';
    src: url('TTLakesNeueComp-Thin.eot');
    src: local('TT Lakes Neue Compressed Thin'), local('TTLakesNeueComp-Thin'),
        url('TTLakesNeueComp-Thin.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueComp-Thin.woff2') format('woff2'),
        url('TTLakesNeueComp-Thin.woff') format('woff'),
        url('TTLakesNeueComp-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue Compressed';
    src: url('TTLakesNeueComp-XLightIt.eot');
    src: local('TT Lakes Neue Compressed ExtraLight Italic'), local('TTLakesNeueComp-XLightIt'),
        url('TTLakesNeueComp-XLightIt.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueComp-XLightIt.woff2') format('woff2'),
        url('TTLakesNeueComp-XLightIt.woff') format('woff'),
        url('TTLakesNeueComp-XLightIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Neue Compressed';
    src: url('TTLakesNeueComp-Italic.eot');
    src: local('TT Lakes Neue Compressed Italic'), local('TTLakesNeueComp-Italic'),
        url('TTLakesNeueComp-Italic.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueComp-Italic.woff2') format('woff2'),
        url('TTLakesNeueComp-Italic.woff') format('woff'),
        url('TTLakesNeueComp-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Neue Compressed';
    src: url('TTLakesNeueComp-Light.eot');
    src: local('TT Lakes Neue Compressed Light'), local('TTLakesNeueComp-Light'),
        url('TTLakesNeueComp-Light.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueComp-Light.woff2') format('woff2'),
        url('TTLakesNeueComp-Light.woff') format('woff'),
        url('TTLakesNeueComp-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

